* {
  margin: 0;
  padding: 0;
}

body {
  --twitter-color: #1da0f1;
  --twitter-background: #e6ecf0;
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}
